
/*/
estilos menu

/*/

header{
background: #333399;
width: 100%;
clear:both;
content: '';
display: table;


}

nav{
float: right;


}


nav ul li{

list-style: none;
margin-left: 75px;
padding: 25px 0;
float: left;

position: relative;


}

nav ul li a{

text-decoration: none;
color: White;
font-weight: bold;

}

nav ul li a::before{
display: block;
content: '';
width: 0%;
background: White;
height: 5px;
top: 0;
position: absolute;

transition: width 0.2s;

}

nav ul li a:hover::before{
width: 100%;


}






.menu{
width: 900px;
margin: 0 auto;

}

center{

color: #111;


 font-family:"calibri";
 font-size: 40px;
font-weight: bold;
line-height:100px;
}








/*/

estilos redes
/*/

html {

font-size: 40px: 

}

.social-bar{


position: fixed;

right: 0;
top: 50%;
font-size: 4.5rem;
display: flex;
flex-direction: column;      
align-items: flex-end;
z-index: 100;


}

.icon{

color: white;
text-decoration: none;
padding: .7rem;
display: flex;
transition: all .5s;

}
.icon-facebook2{

background:#0 ;

}

.icon-instagram{

background: #0;

}

.icon: hover{
background: #FF99FF;
}






/*/

fin estilos redes
/*/


/*/
estilos de footer

/*/

footer{
position: relative;
bottom: 0;
left: 0;
right: 0;
background: #111;
height: auto;
width: 100vw;
font-family: "open sans";
padding-top: 45px;
color: #fff;

}


footer-content{

display: flex;
align-items: center;
justify-content: center;

}


footer-content h3{
font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
line-height: 3rem;

}

 footer h3{
color: width;
text-align: center;
justify-content: center;


}

body{
    margin: 0;
    padding: 0;
    background: url(fondo6.jpg);   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}


/*/

estilo de tabla
/*/

h1{
color: CadetBlue;

text-align: center;


}


table{

margin: 150px auto;
width: 800px;
caption-side: bottom;
text-align: center;
 border-collapse: collapse;: 
margin-right: auto;
}

 th td {
border: solid 2px blak;

padding: 20px;

}


th{

background-color:blak;
color: blak;

}

table tr:hover{
background: #0099FF;


}

 caption{

 	padding-top: 20px;
 	font-style: italic;
 }

 /*/

 FIN ESTOLOS TABLA

 /*/



 /*/

 INICIO ESTILOS JUEGO

 /*/

  figure h2{
text-align: center;
color: Orange;
margin: 0 auto;
padding: 115px;

 }


 figure h2:hover{
 	color: SpringGreen; 
font-size: 1.8rem;
font-weight: 400;
text-transform: capitalize;
font-style: Arial Black;
}

 /*/

 estoli noticia

 /*/


p{
padding: 12px;

}



/*/

 adaptavilidad

 /*/

.contenedor{

flex-wrap: wrap;
max-width: 300px
margin-bottom:0px;


}

#container{
width: 50%;


}

